:local {
  .editor {
    padding: 10px;
  }
  .field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #EEE;
  }
  .field {
    margin-bottom: 20px;
  }
  .field label {
    color: #999;
    text-transform: uppercase;
    font-weight: 200;
  }
  .error {
    color: #a31e15;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
