:local {
  .column {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
  }

  .page {
    border: solid 1px #999;
    box-shadow: 3px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }

  .image img {
    max-width: 100%;
  }
  
  .button {
    text-align: center;
  }

  .button a {
    border: 1px solid lightgray;
    padding: 10px;
    background-color: gray;
    text-transform: uppercase;  
    border-radius: 5px;
    color: white;
    font-weight: 200;
    text-decoration: none;
  }
  


  .title {
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }

  .description {
    padding: 10px;
  }
  .actions {
    padding: 10px;
    text-align: right;
  }
  .actions a {
    text-decoration: none;
    color: black;
  }


/* not used */

  .user {
    padding: 10px;
    font-weight: bold;
  }
  .location {
    padding: 10px;
    color: #999;
    text-transform: uppercase;
    font-weight: 200;
  }
  
}
